@model dynamic
@{
    ViewBag.Title = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Quotes</h2>
<table id="quotes" class="table table-bordered" table-hover>
    <thead>
        <tr>
            <th>Quotes</th>
            <th>Phrase To Learn</th>
            <th>Title</th>
            <th>Learned</th>
            <th>Lerning</th>
        </tr>
    </thead>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            var result = $.ajax({
                url: "/api/learneds",
                method: "GET",
                async: false
            }).responseJSON;

            var result2 = $.ajax({
                url: "/api/learnings",
                method: "GET",
                async: false
            }).responseJSON;
            
            $("#quotes").DataTable({
                ajax: {
                    url: "/api/quotes",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "content",
                        render: function (data, type, quote) {
                            return "<a href='/quotes/detail/" + quote.id + "'>" + quote.content + "</a>";
                        }
                    },

                    {
                        data: "phraseToLearn"
                    },
                    {
                        data: "movie.title",

                    },
                    {
                        render: function (data, type, quote) {

                            var checkbox = '<input type="checkbox">'

                            result.filter(function (item) {
                                if(item.id==quote.id)
                                checkbox = '<input type="checkbox" checked>'
                            });

                            return checkbox;
                        }
                    },
                    {
                        render: function (data, type, quote) {

                            var checkbox = '<input type="checkbox">'

                            result2.filter(function (item) {
                                if (item.id == quote.id)
                                    checkbox = '<input type="checkbox" checked>'
                            });

                            return checkbox;
                        }
                    }
                ]
            });
           
        });
    </script>
}