@model dynamic
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align: center" style="padding-top: 50px">
    <h1>Time for Watching!</h1>
    <h2>Try to catch a phrase</h2>
    <p style="padding-top:10px"></p>
    <iframe id="form" width="560" height="315" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/api/quotes/@Model",
                method: "GET",
                success: function (data) {
                    var page = data["youtubeLink"];
                    page = page.replace("watch?v=", "embed/");
                    form.src=page;
                }
            });
     });
    </script>
} 


