@using Microsoft.AspNet.Identity
@model dynamic
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align: center; padding-top: 60px;padding-bottom: 50px" class="container body-content">
    <h1>Time for Watching!</h1>
    <h2>Try to catch a phrase</h2>
    <p style="padding-top:10px"></p>
    <iframe id="form" width="560" height="315" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div  class="container body-content" id="comments-container"></div>
<link rel="stylesheet" type="text/css" href="../../Content/jquery-comments.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>


<script type="text/javascript" src="/Scripts/jquery-comments.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.0/jquery.textcomplete.js"></script>

<script type="text/javascript" src="/Scripts/comments-data.js"></script>

<style type="text/css">
    body {
        padding: 20px;
        margin: 0px;
        font-size: 14px;
        font-family: "Arial", Georgia, Serif;
    }
</style>



@section scripts
{
    <script>
        var currentUser = $.ajax({
            url: "/api/comments/getcurrentuser",
            method: "GET",
            async: false,
            global: false
        }).responseJSON;
        console.log(currentUser);
        $.noConflict(true);


        $(document).ready(function() {
            $.ajax({
                url: "/api/quotes/@Model",
                method: "GET",
                success: function(data) {
                    var page = data["youtubeLink"];
                    page = page.replace("watch?v=", "embed/");
                    form.src = page;
                }
            });

            $(function() {
                var saveComment = function(data) {

                    // Convert pings to human readable format
                    $(data.pings).each(function(index, id) {
                        var user = usersArray.filter(function(user) { return user.id == id })[0];
                        data.content = data.content.replace('@@' + id, '@@' + user.fullname);
                    });

                    return data;
                }


                $('#comments-container').comments({
                    profilePictureURL: currentUser.profile_picture_url,
                    currentUserId: currentUser.id,
                    roundProfilePictures: true,
                    textareaRows: 1,
                    enableAttachments: true,
                    enableHashtags: true,
                    enablePinging: true,
                    enableNavigation: true,
                    getUsers: function(success, error) {
                        $.ajax({
                            type: 'get',
                            url: '/api/comments/getusers/',
                            success: function(userArray) {
                                success(userArray)
                            },
                            error: error
                        });
                    },
                    getComments: function(success, error) {
                        $.ajax({
                            type: 'get',
                            url: '/api/comments/getallcomments/@Model',
                            success: function (commentsArray) {
                                success(commentsArray)
                            },
                            error: error
                        });
                    },
                    postComment: function(commentJSON, success, error) {
                        //console.log(commentJSON);
                        $.ajax({
                            type: 'post',
                            url: '/api/comments/@Model',
                            data: commentJSON,
                            success: function() {
                                success(saveComment(commentJSON));
                            },
                            error: error
                        });
                    },
                    deleteComment: function(commentJSON, success, error) {
                        $.ajax({
                            type: 'delete',
                            url: '/api/comments/' + commentJSON.id,
                            success: success,
                            error: error
                        });
                    },
                    putComment: function (commentJSON, success, error) {
                        console.log(commentJSON);
                        $.ajax({
                            type: 'put',
                            url: '/api/comments/updatecomment/' + commentJSON.id,
                            data: commentJSON,
                            success: function () {
                                
                                success(saveComment(commentJSON));
                            },
                            error: error
                        });
                    },
                    upvoteComment: function (commentJSON, success, error) {
                        var commentURL = '/api/comments/' + commentJSON.id;
                        var upvotesURL = commentURL + '/upvotes/';
                        console.log(commentJSON);
                        if (commentJSON.userHasUpvoted)
                        {
                            $.ajax({
                                type: 'delete',
                                url: '/api/comments/downvotes/' + commentJSON.id,
                                success: function () {
                                    success(commentJSON)
                                },
                                error: error
                            });
                    }
                         else {
                            $.ajax({
                                type: 'post',
                                url: '/api/comments/upvotes/'+commentJSON.id,
                                success: function () {
                                    success(commentJSON)
                                },
                                error: error
                            });
                        }
                    }
                });


            });
        });
    </script>
} 


