@model dynamic
@{
    ViewBag.Title = "Find Quotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get Quotes</h2>

<table id="quotes" class="table table-bordered" table-hover>
    <thead>
        <tr>
            <th>Quotes</th>
            <th>Phrase To Learn</th>
            <th>Movie</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



@section scripts
{

    <script>
        if ("@Model" == null) {
            url = "/api/quotes";
        }
        else {
            url = "/api/quotes?moviesNames=@Model";
        }
        $(document).ready(function () {
            $("#quotes").DataTable({
                ajax: {
                    url: url,
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "content",
                        render: function (data, type, quote) {
                            return "<a href='/quotes/detail/" + quote.id + "'>" + quote.content + "</a>";
                        }
                    },

                    {
                        data: "phraseToLearn"
                    },
                    {
                        data: "movieName",

                    }
                ]
            });
        });
</script>
}