@model dynamic
@{
    ViewBag.Title = "MyQuotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p style="padding-top:40px"></p>
@Html.ActionLink("New Quote", "New", "Quotes", null, new { @class = "btn btn-primary" })
<p style="padding-top:10px"></p>
<table id="quotes" class="table table-bordered" table-hover>
    <thead>
        <tr>
            <th>Quotes</th>
            <th>Phrase To Learn</th>
            <th>Title</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



@section scripts
{

<script>
        $(document).ready(function () {
            var table = $("#quotes").DataTable({
                "language": {
                    "emptyTable": "Your list is empty"
                },
                ajax: {
                    url: "/api/quotes/mine",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "content",
                        render: function (data, type, quote) {
                            return "<a href='/quotes/detail/" + quote.id + "'>" + quote.content + "</a>";
                        }
                    },

                    {
                        data: "phraseToLearn"
                    },
                    {
                        data: "movie.title",

                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-quote-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
            $("#quotes").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this quote?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/quotes/" + button.attr("data-quote-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
</script>
}