
@{
    ViewBag.Title = "Home Page";
}

<div align="center">
    <p style="padding-top:20px"></p>
    <h1>Welcome to „Quoterland”</h1>
    <p style="padding-top:10px"></p>
    <text>Learn English watching your favourite TV Shows</text>
    <h2>Check your favourites:</h2>
    <form id="myForm">
        @foreach (var movie in Model)
        {
            <input type="checkbox" id=@movie.Id value="@movie.Title" />
            <label for=@movie.Id>
                <img src="../../images/@(movie.Title).png">
            </label>
        }
    </form>
    <button id="Find" class="btn btn-primary">Find Quotes</button>
</div>

@Styles.Render("~/content/fancychecbox.css")

@section scripts
{
    <script>
        $(document).ready(function () {
            var vals = "";
            $("input[type=checkbox]").on("change",
                function() {
                    var arr = [];
                    $(":checkbox").each(function() {
                        if ($(this).is(":checked")) {
                            arr.push($(this).val());
                        }
                    });

                    vals = arr.join(",").replace(",on", "");
                    console.log(arr.length);
                });

        $("#Find").on("click",
            function () {
                console.log(vals);
                if (vals=="" || vals=="on")
                    return toastr.error("Mark some movies");
                window.location.href = "/quotes/findquotes?moviesName="+vals;
            });
        });

    </script>
}