
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content" style="padding-top: 50px">
    <h2 style="text-align: center">Learning</h2>
    <h2 style="text-align: center"></h2>
    <table id="quotes" class="table table-bordered" table-hover>
        <thead>
            <tr>
                <th>Quote</th>
                <th>Phrase To Learn</th>
                <th>Title</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section scripts
{

    <script>
            $(document).ready(function () {
                var table = $("#quotes").DataTable({
                    "language": {
                        "emptyTable": "Your list is empty"
                    },
                    ajax: {
                        url: "/api/learnings/getlearningquotes",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: "content",
                            render: function (data, type, quote) {
                                return "<a class='quote' href='/quotes/detail/" + quote.id + "'>" + quote.content + "</a>";
                            }
                        },

                        {
                            data: "phraseToLearn"
                        },
                        {
                            data: "movie.title"

                        },
                        {
                            data: "id",
                            render: function (data) {
                                return '<div class="dropdown show"><a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage</a><div class="dropdown-menu" aria-labelledby="dropdownMenuLink"><a class="dropdown-item js-add" href="#" data-quote-id="' + data + '">Mark as learned</a><a class="dropdown-item js-delete" href="#" data-quote-id="' + data + '">Delete from learning</a></div></div>';
                            }
                        }
                    ]
                });

                $("#quotes").on("click", ".js-delete", function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this quote from learning?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/learnings/" + button.attr("data-quote-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
                });

                $("#quotes").on("click", ".js-add", function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to mark this quote as learned?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/learnings/" + button.attr("data-quote-id"),
                                method: "DELETE",
                                async: false,
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                            $.ajax({
                                url: "/api/learneds/" + button.attr("data-quote-id"),
                                method: "POST",
                                async: false
                        });
                        }
                    });
                });
            });
    </script>
}

